{%extends "base.html"%}
{%block content%}

<div class="content">
    <h1>Iris Species Prediction</h1>
    <br>
    <br>
    <form method="POST" action="/">
        <div>Sepal length (cm)</div>
        <input type="text" name="sepal_length">
        <br>
        <br>
        <div>Sepal width (cm)</div>
        <input type="text" name="sepal_width">
        <br>
        <br>
        <div>Petal length (cm)</div>
        <input type="text" name="petal_length">
        <br>
        <br>
        <div>Petal width (cm)</div>
        <input type="text"  name="petal_width">
        <br>
        <br>
        <input type="submit">
    </form>

    <br>
    <br>
    <h3>Predicted Species</h3>
    {%if ready == True%}
    <div>{{prediction}}</div>
    {%endif%}
</div>
{%endblock content%}